<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->

  <connectionStrings>  
    <!-- Connection String -->
	  <!--<add name="ConnectionString" connectionString="Server=FARHAD-ASUS\SQL2017;Database=blueSky;Uid=sa;Password=123;"/>
	  <add name="archtec2_decowallConnectionString" connectionString="Server=FARHAD-ASUS\SQL2017;Database=blueSky;Uid=sa;Password=123;"
		providerName="System.Data.SqlClient" />-->


    <add name="ConnectionString" connectionString="Server=146.59.254.187,2019;Database=samacosm_db;Uid=entersql;Password=Enter@2020;" />
    <add name="archtec2_decowallConnectionString" connectionString="Data Source=146.59.254.187,2019;Initial Catalog=samacosm_db;Persist Security Info=True;User ID=entersql;Password=Enter@2020"
      providerName="System.Data.SqlClient" />
    
    
    
  </connectionStrings>
  <appSettings>
    <add key="CRUDCommands" value="StoredProcedure"/>
  </appSettings>
  
  

  <system.web>
    <!-- Step I) to increase upload file size (by default is 4MB) in KB-->
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600"/>
    
    <compilation debug="true" targetFramework="4.5"/>

    <!-- cancel url validation test -->
    <pages validateRequest="false" />
    
    <!--<pages controlRenderingCompatibilityVersion="4.0"/>-->
  </system.web>

  <!-- Step II) to increase upload file size (by default is 4MB) needs also add these lines in bytes-->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  
  
</configuration>